<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://user-images.githubusercontent.com/9554297/83762004-a0761b00-a6a9-11ea-83b4-9c8ff721d4b8.png"
    />
    <link
      0="h"
      1="t"
      2="t"
      3="p"
      4="s"
      5=":"
      6="/"
      7="/"
      8="c"
      9="d"
      10="n"
      11="."
      12="j"
      13="s"
      14="d"
      15="e"
      16="l"
      17="i"
      18="v"
      19="r"
      20="."
      21="n"
      22="e"
      23="t"
      24="/"
      25="n"
      26="p"
      27="m"
      28="/"
      29="b"
      30="o"
      31="o"
      32="t"
      33="s"
      34="t"
      35="r"
      36="a"
      37="p"
      38="@"
      39="5"
      40="."
      41="0"
      42="."
      43="0"
      44="-"
      45="b"
      46="e"
      47="t"
      48="a"
      49="1"
      50="/"
      51="d"
      52="i"
      53="s"
      54="t"
      55="/"
      56="c"
      57="s"
      58="s"
      59="/"
      60="b"
      61="o"
      62="o"
      63="t"
      64="s"
      65="t"
      66="r"
      67="a"
      68="p"
      69="."
      70="m"
      71="i"
      72="n"
      73="."
      74="c"
      75="s"
      76="s"
    />
    <link rel="stylesheet" href="/knowledge-base/umi.css" />
    <script>
      window.routerBase = "/knowledge-base";
    </script>
    <script>
      //! umi version: 3.3.6
    </script>
    <title>模态框</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/knowledge-base/umi.js"></script>
  </body>
</html>
