<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://user-images.githubusercontent.com/9554297/83762004-a0761b00-a6a9-11ea-83b4-9c8ff721d4b8.png"
    />
    <link
      charset="utf-8"
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <style>
      global.css
    </style>
    <link rel="stylesheet" href="/knowledge-base/umi.css" />
    <script>
      window.routerBase = "/knowledge-base";
    </script>
    <script>
      //! umi version: 3.3.4
    </script>
    <title>文本省略</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/knowledge-base/umi.js"></script>
  </body>
</html>
